<main>
    <section class="SquareDetail">
        <div class="FirstSquareDetail ">
            <p>Name of the country: <br>{{selectedCountry}}</p>
        </div>
    
        <div class="SecondSquareDetail ">
            <p>Number of entries</p>
            <p class="countryDetail">{{totalNumberOfENtries}}</p>
        </div>
        <div class="ThirdSquareDetail ">
            <p>Total number medals</p>
            <p class="countryDetail">{{totalNumberMedals}}</p>
        </div>
        <div class="FourthSquareDetail ">
            <p>Total number of athletes</p>
            <p class="countryDetail">{{totalNumberOfAthletes}}</p>
        </div>
    </section>

    <div class="LineChartBloc ">
        <ngx-charts-line-chart
            [results]="countrysVersusMedalsPerYearLineChartFormat"
            [legend]="legend"
            [view]="view"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            />
    </div>
    <br>

</main>
