

<!-- <p *ngFor="let olympic of olympicData"> country : {{olympic.country}} id: {{olympic.id}}</p> -->
<main>
    <section class="Square">
        <div class="FirstSquare ">
            <p>Medals per Country</p>
        </div>
        <div class="SecondSquare ">
            <p>Number of JOs</p>
            <p class="country">{{joNumber}}</p>
        </div>
        <div class="ThirdSquare ">
            <p>Number of countries</p>
            <p class="country">{{countriesNumber}}</p>
        </div>
    </section>
</main>