<main>
    <section class="Square">
        <div class="FirstSquare ">
            <p>Medals per Country</p>
        </div>
        <div class="SecondSquare ">
            <p>Number of JOs</p>
            <p class="country">{{joNumber}}</p>
        </div>
        <div class="ThirdSquare ">
            <p>Number of countries</p>
            <p class="country">{{countriesNumber}}</p>
        </div>
    </section>
    <div class="PieChartBloc ">
        <ngx-charts-pie-chart
            [results]="countrysVersusTotalsMedalsPieChartFormat"
            [view]="view"
            [doughnut]="false"
            [gradient]="gradient"
            [legend]="showLegend"
            [labels]="showLabels"
            (select)="selectedCountry($event)" />
        </div>
        <br>
</main>